body {
    margin: 0;
    font-family: "Kannada MN";
}

.action-button {
    background-color: darksalmon;
    font-family: "Kannada MN";
    font-size: 18px;



    min-width: 200px;
    min-height: 48px;

    border: none;
    cursor: pointer;
}

.close-button {
    background-color: lightgreen;
    font-family: "Kannada MN";
    font-size: 18px;

    min-width: 100px;
    min-height: 48px;

    border: none;
    cursor: pointer;
}

.app {
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    font-family: "Kannada MN";
}


.reflect-button-container {
    flex: 1; /* fill remaining space below nav */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 526px;
    gap: 24px;
}


.text-area {
    width: min(90vw, 800px);
    height: min(60vh, 600px);
    font-family: "Kannada MN";

    font-size: 16px;
    padding: 16px;
    resize: vertical;

    box-sizing: border-box;
}



.save-button-container {
    display: flex;
    justify-content: center;
}

.nav-button {
    background-color: cornflowerblue;
    color: white;
    font-family: "Kannada MN";
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.calendar {
    height: 50px;
    width: 400px;
    font-size: 18px;
    font-family: "Kannada MN";

}
.calendar-info-text {
    margin-top: 10px;

}
.calendar-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-bottom: 500px
}

.nav-button:hover {
    background-color: mediumpurple;

}
.nav {
    position: relative;
    height: 100px;
    background-color: cornflowerblue;
    padding: 10px
}

/* LEFT VERTICAL LIST */
.navList {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    color: white;
    margin-bottom: 4px;
}

/* TRUE CENTER TEXT */
.navCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px
}
