body {
    margin: 0;
    font-family: Georgia;
}


.app {
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    font-family: Georgia;
}

.reflect-button {
background-color: darksalmon;
    width: 40%;
    height: 30%;
    font-size: 18px;
    font-family: Georgia;

}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
    height: 60px;
    background-color: cornflowerblue;
    padding: 10px
}

/* LEFT VERTICAL LIST */
.navList {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    color: white;
    margin-bottom: 4px;
}

/* TRUE CENTER TEXT */
.navCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px
}
