.nav {
    position: relative;
    height: 60px;
    background-color: cornflowerblue;
    padding: 10px
}

/* LEFT VERTICAL LIST */
.navList {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    color: white;
    margin-bottom: 4px;
}

/* TRUE CENTER TEXT */
.navCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px
}
